# Ambiente Virtual do Python
venv/
__pycache__/
*.pyc

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Arquivos de IDEs e Editores
.vscode/
.idea/

# Pasta de downloads (NÃO versionar arquivos baixados)
downloads/

# Logs e arquivos de dados gerados pela aplicação ou pelo usuário
logs/
central_controle_projeto.xlsx
links.txt